div.clear{
  clear:both;
}
.terminal{
  background-color: black;
  color: white;
  white-space: normal;
  font-family: "Andale Mono", monospace;
  font-size: 1.0em;
}
#default-canvas-wrapper{
  position: relative;
  float: left;
}
.background-canvas{
  position: relative;
  top: 0;
  left: 0;
  z-index: 1;
}
.default-table{
 border-collapse: collapse;
}
.default-table td{
  text-align: left;
}
.default-table td div.out{overflow:hidden; border: 0px solid orange;}
.default-table td div.in{border: 0px solid red; float: left;}
#grid{
  top: 50px;
}
#width-registration{
  top: 10px;
}
#square{
  left: 0px;
  top: 100px;
}
.square{
  background-color: green;
  background: green; /**/
  color: #000;
  z-index: 2;
  position: absolute;
}
#default-canvas-wrapper{
  border: 0px solid green;
}

.edrag{cursor: e-resize;  }
.sedrag{cursor: se-resize;}
.sdrag{ cursor: s-resize; }
.swdrag{cursor: sw-resize;}
.wdrag{ cursor: w-resize; }
.cdrag{ cursor: col-resize;}


#resizable { width: 150px; height: 150px; padding: 0.5em; }
#resizable h3 { text-align: center; margin: 0; }
