div.clear{
  clear:both;
}
.terminal{
  background-color: black;
  color: white;
  white-space: normal;
  font-family: "Andale Mono", monospace;
  font-size: 1.0em;
}
#relative-canvas-wrapper-1{
  position: relative;
  float: left;
}
.background-canvas{
  position: relative;
  top: 0;
  left: 0;
  z-index: 1;
}
.default-table{
 border-collapse: collapse;
}
.default-table td{
  text-align: left;
}
.default-table td div.out{overflow:hidden; border: 1px solid orange;}
.default-table td div.in{border: 1px solid red; float: left;}
#grid{
  top: 600px;
}
#width-registration{
  top: 400px;
}
#square{
  left: 0px;
  top: 100px;
}
.square{
  background-color: green;
  color: #000;
  z-index: 3;
  position: absolute;
}
#relative-canvas-wrapper-1{
  border: 1px solid green;
}
/* we don't no if we need absolute positioning to normalize mouse clicks */
#__absolute__canvas-wrapper-1{
  position: absolute;
  left: 10px;
  top: 200px;
}
.edrag{cursor: e-resize;  }
/*.sedrag{cursor: se-resize;}
.sdrag{ cursor: s-resize; }
.swdrag{cursor: sw-resize;}
.wdrag{ cursor: w-resize; }*/
.cdrag{ cursor: col-resize;}


#resizable { width: 150px; height: 150px; padding: 0.5em; }
#resizable h3 { text-align: center; margin: 0; }

/************* arc stuff ************/

.arc-canvas { /*not necessarily a canvas, maybe a div*/
  color: green;
  z-index: 2;
  position: absolute;
  top: 0px;
  left: 0px;
  white-space: pre;
  font-family: "Andale Mono", monospace;
  font-size: 1.0em;
}
