div.clear{
  clear:both;
}
.terminal{
  background-color: black;
  color: white;
  white-space: normal;
  font-family: "Andale Mono", monospace;
}
#default-canvas-wrapper{
 position: relative;
 float: left;
}
.background-canvas{
  position: relative;
  top: 0;
  left: 0;
  z-index: 1;
}
.default-table{
 border-collapse: collapse;
}
#grid{
  top: 50px;
}
#width-registration{
  top: 10px;
}
#square{
  left: 0px;
  top: 100px;
}
.square{
  background-color: green;
  color: #000;
  z-index: 2;
  position: absolute;
}
#default-canvas-wrapper{
  border: 1px solid green;
}
