/* we don't know if we need absolute positioning to normalize mouse clicks */
#__absolute__tablet-wrapper-1{
  position: absolute;
  border: 1px solid red;
  left: 10px;
  top: 200px;
}
#relative-tablet-wrapper-1{
  border: 1px solid orange;
  position: relative;
  float: left;
}
#width-registration-1{
  top: 400px;
}
#square-1{
  left: 0px;
  top: 100px;
}

div.clear{
  clear:both;
}
.terminal{
  white-space: normal;
  font-family: "Andale Mono", monospace;
  font-size: 1.0em;
}
.canvas-overlay{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  border: 1px solid pink;
  color: black;
}
.the-backmost-background{
  background-color: #282828;
  z-index: 1;
  width: 1000px;
  height: 600px;
}
.default-table{
 border-collapse: collapse;
}
.default-table td{
  text-align: left;
}
.default-table td div.out{overflow:hidden; border: 1px solid orange;}
.default-table td div.in{border: 1px solid red; float: left;}
.square{
  background-color: green;
  color: #000;
  z-index: 4;
  position: absolute;
}
.edrag{cursor: e-resize;  }
/*.sedrag{cursor: se-resize;}
.sdrag{ cursor: s-resize; }
.swdrag{cursor: sw-resize;}
.wdrag{ cursor: w-resize; }*/
.cdrag{ cursor: col-resize;}


/************* arc stuff ************/

.arc-canvas { /*not necessarily a canvas, maybe a div*/
  color: green;
  z-index: 2;
  position: absolute;
  top: 0px;
  left: 0px;
  white-space: pre;
  font-family: "Andale Mono", monospace;
  font-size: 1.0em;
}


#resizable-1 { width: 150px; height: 150px; padding: 0.5em; }
#resizable-1 h3 { text-align: center; margin: 0; }
