.hipe-resizable-default-theme .handle{
 -moz-user-select: none;
  /*border: 1px solid #ce4dd6;*/
  display:block;
  position:absolute;
  /*font-size:0.1px;*/
  z-index:10;
}
.hipe-resizable-default-theme .ndrag{
  cursor:n-resize;
  height:7px;
  top: -4px;
  left:0;
  width:100%;
}
.hipe-resizable-default-theme .nedrag{
  cursor: ne-resize;
  height: 16px;
  right: 1px;
  top: 1px;
  width: 16px;
  z-index: 11;
}
.hipe-resizable-default-theme .edrag{
  cursor:e-resize;
  height:100%;
  right:-5px;
  top:0;
  width:7px;
}
.hipe-resizable-default-theme .sedrag{
  bottom: 1px;
  cursor: se-resize;
  height: 16px;
  right: 1px;
  width: 16px;
  z-index: 11;
}
.hipe-resizable-default-theme .sdrag{
  bottom:-5px;
  cursor:s-resize;
  height:7px;
  left:0;
  width:100%;
}
.hipe-resizable-default-theme .swdrag{
  bottom: 1px;
  cursor: sw-resize;
  height: 16px;
  left: 1px;
  width: 16px;
  z-index: 11;
}
.hipe-resizable-default-theme .wdrag{
  cursor:w-resize;
  height:100%;
  left:-5px;
  top:0;
  width:7px;
}
.hipe-resizable-default-theme .nwdrag{
  cursor: nw-resize;
  height: 16px;
  left: 1px;
  top: 1px;
  width: 16px;
  z-index: 11;
}
