* {
  margin:0;
  padding:0;
}
body {
  font-family: "Helvetica Neue",Arial,sans-serif;
}
#__header__{
  border: 1px solid pink;
  height:100px;
  margin:0 auto;
  /*position:relative;*/
  width:795px;
}
#__footer__{
  background-color: pink;
  height: 500px;
  margin: 0 auto;
  /*position: relative;*/
  /*top:810px;*/
  width: 795px;
}
.arrows-home {
  background-color: #282828;
  color: green;
  font-family: "Andale Mono", monospace;
  height: 400px;
  margin: 0 auto;
  position: relative;
  white-space: pre;
  width: 800px;
  cursor: default;
  -moz-user-select: none;
}
.arrows-home .dots{
  left: 0px;
  position: absolute;
  top: 0px;
  color: gray;
  z-index: 1;
}
.arrows-home .font-metrics{
  left: 0px;
  top: 0px;
  position: absolute;
  z-index: 2;
}
.arrows-home .path-layer{
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 3;
  /*border: 1px solid pink;*/
}
